<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <% result.forEach(element=>{ %>

        <p><%= element.name%> </p>
        <p>patronus: <%= element.patronus%></p>
        <p>Status: <%= element.alive%> </p>
        <img src="<%= element.image%>" alt="">
        <a href="/character/<%= element.id%>">View Details</a>
        <%}); %>





</body>
</html>